<ion-header>
  <ion-toolbar>
    <ion-title (click)="backClicked()"><ion-icon name="arrow-round-back"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="poi">
    <ion-slides pager="true">

        <ion-slide *ngFor="let img of poi.photos">
          <img src="{{img}}"/>
        </ion-slide>

      </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Categorie > {{poi.categorie}}</ion-card-subtitle>
      
      <ion-card-title>{{poi.title}}</ion-card-title>
      <p><ion-icon name="create"></ion-icon> Rédige un avis</p>
      <div *ngIf="poi.ratingPoi">
          <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#5173ba"
            defaultColor="#5173ba" readonly="true" rating="{{poi.ratingPoi}}" fontSize="14px">
          </ionic4-star-rating>
          <p id="number-rate">{{poi.totalRating}} avis</p>
        </div>
        <div *ngIf="!poi.ratingPoi">
          <ion-label>
            <p>Aucun vote</p>
          </ion-label>
        </div>
        <hr>
    </ion-card-header>
    
    <ion-card-content>
        {{poi.description}}
      <hr>
      <ion-item lines="none">
        <ion-avatar slot="start" class="ion-margin-top">
          <img src="{{poi.postedByUsername[0].imgProfil}}" alt="Photo de l'utilisateur">
        </ion-avatar>
        <ion-label>
          <p class="italic">posté par <span class="blue">{{poi.postedByUsername[0].username}}</span></p>
          <p>{{ poi.dateAdd | date: 'dd/MM/yyyy'}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
