img {
	width: 100% !important;
}

#number-rate {
	margin-top: -0.3rem;
}

.italic {
    font-style: italic;
}

.blue {
    color: #5173ba;
}

hr {
	border-bottom: 1px solid  #5173ba;
	margin-top: 1.1rem;
 }