<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon class="logout-button" name='log-out'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <h1>{{ user }}</h1>
    <div class="space-between">
      <div class="avis">
        <ion-badge color="tertiary" mode="ios"><span class="number">{{ratings.length}}</span></ion-badge>
        <p class="paragraph">Avis</p>
      </div>
      <div class="posts">
        <ion-badge color="tertiary" mode="ios"><span class="number">{{pois.length}}</span></ion-badge>
        <p class="paragraph">Posts</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="box-border">
      <div class="border-white">
        <div class="img-box">
          <img width="130px" height="130px" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </div>
      </div>
    </div>
  </div>
  <div>
  <h2 padding>Tes posts</h2>
  <ion-list>
    <div *ngIf="pois[0]">
      <ion-item lines="full" *ngFor="let poi of pois | slice:0:10" >
        <ion-avatar (click)="onSelect(poi)" slot="start">
          <img src="{{ poi.photos[0] }}" alt="Photo du POI">
        </ion-avatar>
        <div (click)="onSelect(poi)" class="content">
          <h2>{{ poi.title }}</h2>
          <p>{{ poi.description | slice:0:64 }} {{ poi.description.length > 64 ? '...en savoir plus' : '' }} </p>
        </div>

        <!-- <ion-button icon-only (click)="redirectToUpdateForm(poi)">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
        <ion-button icon-only>
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button> -->

        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button class="more-btn"><ion-icon name="more"></ion-icon></ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="deletePoi(poi)">
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="deletePoi(poi)">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

      </ion-item>
    </div>
    <div *ngIf="!pois[0]">
      <ion-item *ngFor="let i of [].constructor(10)">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>

    <ion-list>
      <h2 padding>Tes avis</h2>
      <div *ngIf="ratings[0]">
        <ion-item lines="full" *ngFor="let rate of ratings | slice:0:10" >
          <div class="rate-content">
            <ion-grid>
              <ion-col>
                <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#5173ba"
                  defaultColor="#5173ba" readonly="true" rating="{{ rate.value }}" fontSize="14px">
                </ionic4-star-rating>
              </ion-col>
              <ion-col>
                <p class="comment">{{ rate.comment }}</p>
              </ion-col>
            </ion-grid>
          </div>
          <ion-fab vertical="center" horizontal="end">
            <ion-fab-button class="delete-btn" (click)="deleteRating(rate)">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-item>
      </div>

<!-- 
      <div *ngIf="ratings[0]">
      <ion-item *ngFor="let rate of ratings | slice:0:10" >
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#5173ba"
                    defaultColor="#5173ba" readonly="true" rating="{{ rate.value }}" fontSize="14px">
                  </ionic4-star-rating>
                </div>
                <div>
                  <ion-label>
                    <p>{{ rate.comment }}</p>
                  </ion-label>
                </div>
              </ion-col>
              <ion-col>
                <ion-button icon-only (click)="deleteRating(rate)">
                  <ion-icon name="close-circle-outline" ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </div> -->
    <div *ngIf="!ratings[0]">
      <ion-item *ngFor="let i of [].constructor(10)">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>
  </div>
</ion-content>