ion-toolbar {
    --background: rgb(95,18,135);
    --background: linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%);
}

ion-title {
    --color: #fff;
    position: relative;
    left: 35%; 
}

ion-button {
    margin-top: 15%;
}

ion-avatar  {     
    width: 80px !important;
    height: 80px !important;
}

ion-badge {
    font-size: 20px;
    border: 0.5px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(95,18,135) !important;
    background: linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%) !important; 
}

.number {
    position: relative;
    top: 6px;
}

.avis {
    position: relative;
    left: 45px;
}

.posts {
    position: relative;
    right: 30px;
}

.avis .paragraph {
    position: relative;
    top: -10px;
    left: -2px;
}

.posts .paragraph {
    position: relative;
    top: -10px;
    left: -7px;
}

ion-avatar, .content {
    margin: 10px;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

h2 {
    font-weight: bold;
    background: -webkit-linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dot {
    height: 25px;
    width: 25px;
    position: relative;
    left: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.content h2 {
    font-size: 16px;
}

.content p, .content h2 {
    padding: 0;
    margin: 0;
}

.content {
    width: 77%;
}

.more-btn {
    --background: -webkit-linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%) !important;
}

.delete-btn {
    --background: -webkit-linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%) !important;
}

.comment {
    margin: 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.italic {
    font-style: italic;
}

.blue {
    color: #5173ba;
}


.header {
    height: 180px;
    background: linear-gradient(20deg, rgba(95,18,135,1) 0%, rgba(81,115,186,1) 100%);
    width: 100%;
    padding-top: 1px;
}

.header h2 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.space-between p {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble p {
    color: white;
    margin: 8px 0px 0px 0px;
    font-size: 18px;
}

.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
}

.border-white {
    border: white solid 4px;
    border-radius: 50%;
    width: fit-content;
}

.border-blue {
    border: 7px solid #006bbf;
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -76px;
}

.logout-button {
    color: #fff;
}

.modify-btn, .delete-btn {
    font-size: 30px; 
    position: relative;
    left: -10px;
    color: rgb(95,18,135);
}

.modify-btn {
    padding-bottom: 4px;
}