<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon class="logout-button" name='log-out'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <h2 style="padding-top: 10px;">{{ user }}</h2>
    <div class="space-between">
      <div padding class="bubble">
        <ion-badge color="primary" mode="ios">12</ion-badge>
        <p>Avis</p>
      </div>
      <div padding class="bubble">
        <ion-badge color="primary" mode="ios">{{pois.length}}</ion-badge>
        <p>Posts</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="box-border">
      <div class="border-white">
        <div class="img-box">
          <img width="130px" height="130px" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </div>
      </div>
    </div>
  </div>
  <div>
    <ion-list>
      <h2 padding>Vos posts</h2>
      <div *ngIf="pois[0]">
      <ion-item *ngFor="let poi of pois | slice:0:10" >
        <ion-avatar slot="start">
          <img src="{{ poi.photos[0] }}" alt="Photo du POI">
        </ion-avatar>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col (click)="onSelect(poi)">
                <h2>{{ poi.title }}</h2>
                <p>{{ poi.description | slice:0:64 }} {{ poi.description.length > 64 ? '...en savoir plus' : '' }} </p>
              </ion-col>
              <ion-col size="1">
              <button ion-button icon-only fill="outline" (click)="redirectToUpdateForm(poi)">
                  <ion-icon name="settings"></ion-icon>
                </button>
                <button ion-button icon-only>
                  <ion-icon name="close-circle-outline"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="!pois[0]">
      <ion-item *ngFor="let i of [].constructor(10)">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 25%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>
    <h2 padding>Posts</h2>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col style="padding-top: 0">
                <h3 style="font-size: 18px; margin:0; padding-left: 5px;">Lourd cet endroit</h3>
              </ion-col>
              <ion-col>
                <ionic4-star-rating style="position:relative; text-align: right;" #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#5173ba"
                defaultColor="#5173ba" readonly="true" rating="" fontSize="14px">
                </ionic4-star-rating>
              </ion-col>
            </ion-row>
            <ion-row>
              <p style="margin:0; padding-left: 10px;">posté par <i><span style="color: blue;">Utilisateur</span></i></p>
            </ion-row>
            <ion-row>
              <p style="margin: 0; padding-left: 10px; padding-top: 5px;">Vraiment lourd cet endroit, oui biensur Lorem Ipsum</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>