<!--<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="content" padding>

  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
  </div>

  <ion-grid>
    <ion-row justify-content-center align-items-center>
        <ion-col size="3">
          <img class="logo" src="assets/img/logo.png" style="height: auto; width: auto" />
        </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center>
    <h2>Connexion</h2>
  </div>

  <form id="login-form" #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-grid>
      <ion-row class="block" justify-content-center align-items-center>
        <ion-col size="12">
          <div>
            <!-- username input -->
            <ion-item lines="full">
                <ion-label position="floating">Nom d'utilisateur</ion-label>
                <ion-input inputmode="text" #username="ngModel" required="true" name="username"
                  [(ngModel)]="authRequest.username"></ion-input>
            </ion-item>
            <!-- username error message -->
            <ion-item lines="none" *ngIf="username.invalid && username.touched">
              <ion-icon class="error-icon" name="alert"> &nbsp; </ion-icon><ion-text color='danger'>Nom d'utilisateur requis</ion-text>
            </ion-item>
            <!-- password input -->
            <ion-item lines="full">
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input inputmode="text" #password="ngModel" required="true" type="password" name="password"
                [(ngModel)]="authRequest.password"></ion-input>
            </ion-item>
            <!-- password error message -->
            <ion-item lines="none" *ngIf="password.invalid && password.touched">
              <ion-icon class="error-icon" name="alert"></ion-icon> &nbsp; <ion-text color='danger'>Mot de passe requis</ion-text>
            </ion-item>
          </div>
          <div>
            <!-- submit button -->
            <ion-row>
              <ion-button class="submit-button" type="submit" color="tertiary" expand="block">Se connecter</ion-button>
            </ion-row>
            <!-- error message -->
            <ion-text color='danger' *ngIf="loginError"><ion-icon class="error-icon" name="alert"></ion-icon> Le nom d'utilisateur ou le mot de passe sont incorrects</ion-text>
          </div>
          <div class="compte"> 
            <p>Tu n'as pas encore de compte ?</p>
            <a routerLink='/register'>Crée-toi un compte maintenant!</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
