<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user">{{ user.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="user">
  <div *ngIf="pois">
    <p>Nombre de posts : {{ pois.length }}</p>
  </div>
  <div>
    <p>Nombre d'avis : {{ ratings.lenght }}</p>
  </div>
  <div>
    <h2>Posts</h2>
    <ion-grid>
      <ion-row>
        <ion-col class="image">
          photo 1
        </ion-col>
        <ion-col class="image">
          photo 2
        </ion-col>
        <ion-col class="image">
          photo 3
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item-divider></ion-item-divider>
    <h2>Avis</h2>
  </div>
</ion-content>
