<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter une interesthing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Coordonées : Les coordonnées du point que vous allez ajouter seront vos coordonnées actuelles.</p>

  <form #uploadPoiForm="ngForm" (submit)="upload(uploadPoiForm)">
    
    <ion-label>Titre</ion-label>
    <ion-input [(ngModel)]="poiData.title" type="text" placeholder="Titre" name="title" required></ion-input>
    <ion-label>Description min5 max300</ion-label>
    <ion-input [(ngModel)]="poiData.description" type="text" placeholder="Description" name="desc" required></ion-input>

    <ion-list>
      <ion-item>
        <ion-label>Catégorie</ion-label>
        <ion-select [(ngModel)]="poiData.categorie" name="categorie" placeholder="Selectionnez une catégorie">
          <ion-select-option value="Art">Art</ion-select-option>
          <ion-select-option value="Funny">Funny</ion-select-option>
          <ion-select-option value="Shortcuts">Shortcuts</ion-select-option>
          <ion-select-option value="Spots">Spots</ion-select-option>
          <ion-select-option value="WTF!">WTF</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-label>Ajouter une photo :</ion-label>
    Votre image :
    
    <ion-fab>     
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>

      <input
      style="display: none"
      type="file" (change)="onFileChanged($event)"
      #fileInput
      [(ngModel)]="poiData.photos"
      name="photos">

      <ion-fab-button (click)="fileInput.click()"> 
          <ion-icon name="images"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- <img *ngIf="pictureData" src="data:image/jpeg;base64,{{ pictureData }}" /> -->
  <img *ngIf='picture' [src]='picture.url' />

    <ion-button type="submit">Ajouter</ion-button>
  </form>



  <!-- POST /api/pois HTTP/1.1
  Content-Type: application/json

  {
  "pos": {
  "coordinates": [
  46.781142,
  6.647189,
  ],
  "type": "Point"
  },
  "photos": [
  "superphoto1"
  ],
  "postedBy": "5dc2e88f7f63bc03bb1c04c1",
  "title": "Lorem Ipsum",
  "description": "Lorem ipsum dolor sit amet donelacus",
  "categorie-->
</ion-content>