<ion-content class="content" padding>

  <!-- SNOW -->
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
  </div>
  <!-- END SNOW -->

    <ion-grid>
      <ion-row justify-content-center align-items-center>
          <ion-col size="3">
            <img class="logo" src="assets/img/logo.png" style="height: auto; width: auto" />
          </ion-col>
      </ion-row>
    </ion-grid>
    <form #registerForm="ngForm" (submit)="register(registerForm)">
        <ion-grid>
          <ion-row class="block" justify-content-center align-items-center>
            <ion-col size="12">
              <div text-center>
                <h2>Inscription</h2>
              </div>
              <div padding>
                <ion-item>
                    <ion-label position="floating">Nom d'utilisateur</ion-label>
                    <ion-input [(ngModel)]="username" pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$" type="text" minlength="5" maxlength="20" name="username" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Mot de passe</ion-label>
                  <ion-input [(ngModel)]="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" type="password" name="password" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Adresse e-mail</ion-label>
                    <ion-input [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" type="email" name="email" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Photo profil</ion-label>
                    <ion-input [(ngModel)]="imgProfil" name="imgProfil" type="text" name="imgProfil"></ion-input>
                </ion-item>
              </div>
              <div class="ion-padding">
                  <div padding>
                      <ion-button (click)="registerAlert()" shape="round" size="large" type="submit" expand="block" [disabled]="registerForm.invalid">S'inscrire</ion-button>
                  </div>
              </div>
              <div class="compte"> 
                  <p>Tu as déjà un compte ?</p>
                  <p><a routerLink='/login'>Connecte-toi</a></p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
</ion-content>