<!--<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="content" padding>
    <ion-grid>
      <ion-row justify-content-center align-items-center>
          <ion-col size="3">
            <img class="logo" src="assets/img/logo.png" style="height: auto; width: auto" />
          </ion-col>
      </ion-row>
    </ion-grid>
    <form #registerForm="ngForm" (submit)="register(registerForm)">
        <ion-grid>
          <ion-row justify-content-center align-items-center>
            <ion-col size="12">
              <div text-center>
                <h2>Inscription</h2>
              </div>
              <div padding>
                <ion-item>
                    <ion-label position="floating">Nom d'utilisateur</ion-label>
                    <ion-input [(ngModel)]="username" type="text" minlength="5" maxlength="20" name="username" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Mot de passe</ion-label>
                  <ion-input [(ngModel)]="password" name="password" type="text" required type="password" name="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Adresse e-mail</ion-label>
                    <ion-input [(ngModel)]="email" name="email" type="text" required name="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Photo profil</ion-label>
                    <ion-input [(ngModel)]="imgProfil" name="imgProfil" type="text" name="imgProfil"></ion-input>
                </ion-item>
              </div>
              <div class="ion-padding">
                  <div padding>
                      <ion-button shape="round" size="large" type="submit" expand="block" [disabled]="registerForm.invalid">S'inscrire</ion-button>
                  </div>
              </div>
              <div class="compte"> 
                  <p>Tu as déjà un compte ?</p>
                  <p><a routerLink='/login'>Connecte-toi</a></p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
</ion-content>